<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista comenzi</title>
    <link th:href="@{/styles/cssandjs/listOfProducts.css}" rel="stylesheet" />
</head>
<div class="navbar">
    <ul>
        <li>
            <form th:action="@{/product/listOfProducts}" method="get">
                <button type="submit">Produse</button>
            </form>
        </li>
        <li>
            <form th:action="@{/cart/getByUser}" method="get">
                <button type="submit">Cos</button>
            </form>
        </li>
        <li>
            <form th:action="@{/order/getByUser/all/{userId}(userId=${user.getId()})}" method="get">
                <button type="submit">Comenzi</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/listOfUsers}" method="get">
                <button type="submit">Useri</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/promotion/get/all}" method="get">
                <button type="submit">Promotii</button>
            </form>
        </li>
        <li>
            <form th:action="@{/userProfile}" method="get">
                <button type="submit">Profil</button>
            </form>
        </li>
        <li>
            <form th:action="@{/logout}" method="get">
                <button type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>
<body class="floral-background">
<div class="container floral-border">
    <h1 class="floral-header">Lista comenzi</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Status</th>
            <th scope="col">Adresa</th>
            <th scope="col">Tip plata</th>
            <th scope="col">Total</th>
            <th scope="col">Utilizator</th>
            <th scope="col">Data comanda</th>
            <th scope="col">Elimina</th>
            <th th:if="${user.getRole().toString()} == 'ADMIN'" scope="col">Modifica</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getId().toString()}">ID</td>
            <td th:text="${order.getStatus()}">Status</td>
            <td th:text="${order.getAddress()}">Adresa</td>
            <td th:text="${order.getPay()}">Tip plata</td>
            <td th:text="${order.getTotalPrice()}">Total</td>
            <td th:text="${order.getUser().getName()}">Utilizator</td>
            <td th:text="${order.getOrderDate()}">Data comanda</td>
            <td>
                <form th:action="@{/order/delete/{orderId}(orderId=${order.getId()})}" method="post">
                    <button type="submit">Sterge</button>
                </form>
            </td>
            <td th:if="${user.getRole().toString()} == 'ADMIN'">
                <form  th:action="@{/order/update/{orderId}(orderId=${order.getId()})}" method="get">
                    <button type="submit">Modifica</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
