<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista produse</title>
    <link th:href="@{/styles/cssandjs/listOfProducts.css}" rel="stylesheet"/>
</head>
<body class="floral-background">
<div class="navbar">
    <ul>
        <li>
            <form th:action="@{/product/listOfProducts}" method="get">
                <button type="submit">Produse</button>
            </form>
        </li>
        <li>
            <form th:action="@{/cart/getByUser}" method="get">
                <button type="submit">Cos</button>
            </form>
        </li>
        <li>
            <form th:action="@{/order/getByUser/all/{userId}(userId=${user.getId()})}" method="get">
                <button type="submit">Comenzi</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/listOfUsers}" method="get">
                <button type="submit">Useri</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/promotion/get/all}" method="get">
                <button type="submit">Promotii</button>
            </form>
        </li>
        <li>
            <form th:action="@{/userProfile}" method="get">
                <button type="submit">Profil</button>
            </form>
        </li>
        <li>
            <form th:action="@{/logout}" method="get">
                <button type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>
<div class="container">
    <form class="addProduct" th:if="${user.getRole().toString()} == 'ADMIN'" th:action="@{/product/add}" method="get">
        <button type="submit">Adauga produs</button>
    </form>

    <h1>Lista produse</h1>

    <div class="product-container" th:each="product : ${products}">
        <div class="product">

            <div>ID: <span th:text="${product.id}">ID</span></div>
            <div>Nume: <span th:text="${product.name}">Nume</span></div>
            <div>Descriere: <span th:text="${product.description}">Descriere</span></div>
            <div>Pret: <span th:text="${product.price}">Pret</span></div>
            <div>Stoc: <span th:text="${product.stock}">Stoc</span></div>
            <div>Categorie: <span th:text="${product.category}">Categorie</span></div>


            <div class="quantity-counter">
                <span>Cantitate:</span>
                <label th:for="${'quantity-' + product.id}"></label>
                <input th:id="${'quantity-' + product.id}" type="number"
                       class="quantity-input" th:value="1" th:min="1" th:max="${product.stock}">
            </div>


            <div class="buttonsModif">

                <form>
                    <button class="buttons-product"
                            th:data-name="${product.id}"
                            th:data-user="${user.getId().toString()}"
                            onclick="addProductToCart(this.getAttribute('data-name'),this.getAttribute('data-user'))">
                        Adauga in cos
                    </button>
                </form>

                <div class="adminButtons" th:if="${user.getRole().toString()} == 'ADMIN'">
                    <form th:action="@{/product/updateProduct/{productId}(productId=${product.getId()})}" method="get">
                        <button class="buttons-product" type="submit">Modifica produs</button>
                    </form>
                    <form th:id="'deleteProd_' + ${product.getId()}"
                          th:action="@{/product/delete/{productId}(productId=${product.getId()})}" method="post">
                        <button class="buttons-product" type="submit">Sterge produs</button>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
<script>
    document.querySelectorAll('[id^="deleteProd_"]').forEach(function (form) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (response.redirected) {
                        var notificationExists = document.querySelector('.notification');
                        if (!notificationExists) {
                            var notification = document.createElement('div');
                            notification.className = 'notification';
                            notification.textContent = 'Produsul a fost sters!';
                            document.body.appendChild(notification);
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    }
                })
        });
    });
</script>

<script>
    function addProductToCart(productId, userId) {
        let quantity = document.getElementById(`quantity-${productId}`).value;
        const orderItemData = {
            id_product: productId,
            quantity: quantity
        };

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/orderItem/add", false);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 201) {
                    let responseData = JSON.parse(xhr.response);
                    let id = responseData.message.toString();
                    const shopCartData = {
                        id_orderItems: [id]
                    };

                    var xhr2 = new XMLHttpRequest();
                    xhr2.open("POST", "/cart/updateByUserId/" + userId, false);
                    xhr2.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                    xhr2.onreadystatechange = function () {
                        if (xhr2.readyState === XMLHttpRequest.DONE) {
                            window.alert("Produsul a fost adaugat cu succes in cos!");
                            window.location.href = "/cart/getByUser"
                            document.body.innerHTML = xhr2.response;
                        }
                    };
                    xhr2.send(JSON.stringify(shopCartData));
                } else {
                    window.alert("Din pacate produsul nu a fost adaugat in cosul de cumparaturi!");
                }
            }
        };
        xhr.send(JSON.stringify(orderItemData));
    }

</script>
</body>
</html>
