<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Users</title>
    <link th:href="@{/styles/cssandjs/listOfUsers.css}" rel="stylesheet" />
</head>
<div class="navbar">
    <ul>
        <li>
            <form th:action="@{/product/listOfProducts}" method="get">
                <button type="submit">Produse</button>
            </form>
        </li>
        <li th:if="${user.getRole().toString()} == 'ADMIN'">
            <form th:action="@{/listOfUsers}" method="get">
                <button type="submit">Useri</button>
            </form>
        </li>
        <li>
            <form th:action="@{/userProfile}" method="get">
                <button type="submit">Profil</button>
            </form>
        </li>
        <li>
            <form th:action="@{/logout}" method="get">
                <button type="submit">Log Out</button>
            </form>
        </li>
    </ul>
</div>
<body class="floral-background">
<div class="container floral-border">
    <h1 class="floral-header">Lista useri</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nume</th>
            <th scope="col">Contact</th>
            <th scope="col">Adresa</th>
            <th scope="col">Email</th>
            <th scope="col">Rol</th>
            <th scope="col">Modifica user</th>
            <th scope="col">Sterge user</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId().toString()}">ID</td>
            <td th:text="${user.getName()}">Nume</td>
            <td th:text="${user.getContactNumber()}">Contact</td>
            <td th:text="${user.getAddress()}">Adresa</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td th:text="${user.getRole().toString()}">Role</td>
            <td>
                <form th:action="@{/updateUser/{userId}(userId=${user.getId()})}" method="get">
                    <button type="submit">Modifica</button>
                </form>
            </td>
            <td>
                <form th:action="@{/delete/{userId}(userId=${user.getId()})}" method="post">
                    <button type="submit">Sterge</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
